@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kanit&family=Merriweather+Sans:wght@300&family=Noto+Serif:wght@700&display=swap');

/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.d-inline {
    display: inline-block!important;
}

button, input, select, textarea, optgroup {
    font: inherit;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* header */
/* Duy dán css vào chỗ này */
#header {
    width: 100%;
    background-color: orange;
    /* position: fixed; */
    display: flex;
    /* justify-content: space-around; */
}

#he1 {

    width: 15%;
    margin-left: 2%;
}

#he2 {
    width: 55%;
    display: flex;
    flex-direction: column;

}

#he2-1 {
    /* background-color: #A8CA27; */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

#search {
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    height: 80%;
}

#search button {color: white;}

#input {
    flex-basis: 80%;
    border-radius: 2px;
    padding: 0 20px;
    border: none;
    font-size: 15px;
}

#submit {
    flex-basis: 15%;
    background-color: brown;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    font-size: 15px;
}

#he2-2 {
    /* background-color: olive; */
    width: 100%;
    height: 50%;

}

#luachon {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#luachon a {
    color: white;
}


#he4 {
    width: 25%;
    display: flex;
    flex-direction: column;
}

#he4-1, #he4-2 {
    flex: 1;
    /* background-color: rgb(30, 58, 119); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A8CA27;
}

#cart, #wishlist {
    /* background-color: rebeccapurple; */
    flex-basis: 45%;
    /* display: flex; */
    align-items: center;
    justify-content: space-evenly;
}

#header .icon-header {
    margin-right: 8px;
    font-size: 23px;
    color: brown;
}

#header .link-header {
    color: white;
    font-size: 15px;
    padding: 10px 12px;
    display: block;
}

#header .link-header:hover, #header .link-header:hover .icon-header {
    color: brown;
}

/* .fa-store{
    flex-basis: 20%;
    font-size: 25px;
    color: #A8CA27;
    text-align: end;
} */
#a1 {
    flex-basis: 10%;
    font-size: 25px;
    color: #A8CA27;
    /* text-align: end; */
}

#a2 a {
    flex-basis: 70%;
    color: #cccccc;
    font-size: 15px;
}

#a2 {
    position: relative;
    min-width: 153px;
    text-align: center;
}

#he2 a:hover {
    color: brown;
}

#header .icon-cart {
    position: relative;
}

#header .count-cart {
    position: absolute;
    padding: 2px;
    border: none;
    border-radius: 18px;
    font-size: 15px;
    top: -9px;
    right: -3px;
    color: rgb(36, 36, 36);
    background: rgb(253, 216, 53);
}

#header .dropdown-header {
    position: absolute;
    top: 48px;
    background-color: #30373D;
    border-radius: 0 0 5px 5px;
    display: none;
    transition: all 0.2s;
}

#he4-2:hover .dropdown-header {
    display: block;
}

/* End header */

/* footer */
.footer {
    width: 100%;
    background: orange;
    color: black;
}

.footer_cobct {
    width: 100%;
    padding: 30px 42px;
    margin: auto -8px;
}

.footer_end {
    background: brown;
    color: white;
    margin: 0 auto;
    font-size: 19px;
    padding: 0 42px;
    text-align: center;
    
}

.footer .item-footer {
    width: 25%;
    float: right;
    padding: 0 8px;
}

/* fix footer */
.footer .link-footer, .content-footer {
    display: block;
    color: white;
    margin-top: 14px;
    font-size: 18px;
    transition: all 0.2s;
    
}

.footer .icon-footer {
    color: brown;
    margin-right: 4px;
}

.footer .heading-footer {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Noto Serif', serif;
}

.footer .social-footer {
    display: inline-block;
    font-size: 35px;
    margin-right: 10px;
    color: brown;
}

.footer .link-footer:hover {
    color: brown;
}

.footer .links-footer:hover{
    color: white
}

.img-validate-footer {
    object-fit: cover;
    width: 53%;
    margin-top: 23px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* End footer */

/* breadcrumb */
.content {
    padding: 0 7% 100px 7%;
    background-color: #efefef;
}

.content .breadcrumb-main{
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.content .item-breadcrumb {
    padding: 0 4px;
    font-size: 18px;
    display: flex;
}

/* End breadcrumb */